body {
  background-color: #e7e3ff;
  height: 100vh;
}

#main-container {
  position: relative;
}

#input-field {
  position: relative;
  top: 5%;
}

#input-area {
  border: 4px dashed #00000040;
  position: relative;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
  width: 90%;
  padding: 5%;
}

#input-area p {
  font-weight: 500;
  font-size: 5.5vw;
  color: #0000004b;
}

#input-area-button {
  width: fit-content;
  position: relative;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
}

#input-area-button button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 4vw;
}

#text-entry-area {
  height: 50%;
}

#text-entry {
  width: 90%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  font-size: 5.5vw;
  outline: none;
}

#file-drop-area {
  width: 100%;
  height: fit-content;
  background-color: #00000040;
}

#submit {
  text-align: center;
  position: relative;
  top: 23%;
}

#submit button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 4vw;
}

#dropdown {
  background-color: #333344;
  width: 90%;
  height: 8%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 6.5vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  display: none;
}

#dropdown-text {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
  font-weight: 500;
}

#show-button-div {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  width: fit-content;
}

#show-button {
  background: none;
  border: none;
  color: white;
}

#qr-container {
  border: none;
  border-radius: 0 0 25px 25px;
  background-color: #444455;
  display: none;
  padding: 5%;
}

#qr-preview {
  width: 80vw;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#qr-preview__header {
  width: 70%;
  color: white;
  border-radius: 3vw 3vw 0 0;
  background-color: black;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size: 5vw;
  visibility: hidden;
}

#qr-preview__header #qr-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

#qr-watermark {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3.1vw;
  font-weight: 700;
  z-index: 200;
  position: absolute;
  top: 1%;
  right: 7%;
}

#qr-logo {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#qr-logo img {
  width: 100%;
}

#qr-code {
  display: none;
}

#qr-preview__border {
  background-color: white;
  padding: 7%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#qr-preview__footer {
  width: 70%;
  color: white;
  border-radius: 0 0 3vw 3vw;
  background-color: black;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size: 5vw;
  visibility: hidden;
}

#qr-preview__footer #qr-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

#qr-options {
  width: 100%;
  height: 40%;
}

#rows-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.row {
  width: 100%;
  margin: 0;
}

.col {
  padding: 0;
}

.col-3 {
  padding: 0;
}

.col-6 {
  padding: 0;
}

.toggle-outer {
  width: 90%;
  height: 10vw;
  border-radius: 5vw;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.toggle-outer-disabled {
  background-color: black;
}

.toggle-outer-enabled {
  background-color: white;
}

.toggle-text {
  width: fit-content;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
}

.toggle-text-disabled {
  color: black;
}

.toggle-text-enabled {
  color: white;
}

.toggle-inner {
  width: 48%;
  height: 8vw;
  border-radius: 8.5vw;
  position: relative;
  top: 50%;
  background-color: white;
  transform: translateY(-50%);
}

.toggle-inner-disabled {
  background-color: white;
  transition: 0.3s;
  left: 3%;
}

.toggle-inner-enabled {
  background-color: black;
  transition: 0.3s;
  left: 49%;
}

.col-3 .frame-options {
  position: relative;
  height: 14vw;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 10%;
  border-radius: 1.5vw;
}

#frame-options-0 {
  background-color: white;
}

.qr-frame {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#load-logo-button {
  width: 85%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#load-logo-button button {
  width: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 4vw;
  font-weight: 600;
}

.qr-color {
  border-radius: 50%;
  border: 1vw solid white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.marker {
  height: 70%;
  width: 70%;
  border-radius: 50%;
  background-color: #ffffff40;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

#save-buttons {
  width: 100%;
  height: 10vw;
  text-align: center;
  position: relative;
}

#save-buttons button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 4vw;
  font-weight: bold;
  margin: 0 3%;
  width: 43%;
  height: 100%;
  border-radius: 10px;
}

@media (orientation: portrait) {
  #qr-container {
    width: 90%;
    height: 100vh;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  #main-container {
    height: 95vh;
  }
  #qr-container {
    height: 95vh;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  body {
    padding: 1%;
  }

  #main-container {
    height: 95vh;
  }
  #qr-container {
    height: 95vh;
  }
}
