:root {
  --main-color: #b14444;
  --secondary-color: #810000;
}

body {
  background-color: var(--secondary-color);
}

.main-container {
  max-width: 1132px;
  margin: 0 auto;
  background-color: #ececec;
  position: relative;
  border-radius: 0px;
}

.row {
  margin: 0;
}

.settings-container {
  padding: 24px;
  border-right: none;
  border-bottom: 1px solid #00000040;
}

.qr-container {
  background-color: white;
  padding: 24px;
}

.settings-field {
  height: 32px;
  font-size: 18px;
  padding-top: 1px;
  padding-left: 8px;
  margin-bottom: 12px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.settings-field-icon {
  margin-right: 8px;
}

.show-icon {
  font-size: 22px;
  position: absolute;
  right: 6px;
}

.disabled-field {
  background-color: #d3d3d3;
  color: #00000080;
  border: 1px solid #00000030;
}

.enabled-field {
  background-color: var(--main-color);
  color: white;
  border: 1px solid var(--secondary-color);
}

.disabled-settings {
  display: none;
}

.enabled-settings {
  display: block;
}

.settings-content {
  margin-bottom: 24px;
}

.url-input {
  margin-bottom: 12px;
}

.url-input input {
  width: 100%;
  border: 1px solid #00000040;
  background-color: transparent;
  outline: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-left: 6px;
}

.file-text {
  font-weight: 500;
}

.url-settings {
  display: block;
}

.frame-settings {
  display: flex;
  flex-wrap: wrap;
}

.logo-settings {
  display: flex;
  flex-wrap: wrap;
}

.selector {
  width: 64px;
  height: 64px;
  margin: 0 12px 12px 0;
  cursor: pointer;
  z-index: 100;
}

.frame-selector-content {
  width: 70%;
  height: 70%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}

.none {
  position: relative;
}

.none:before,
.none:after {
  position: absolute;
  left: 50%;
  top: 50%;
  content: " ";
  height: 56px;
  width: 2px;
  background-color: #999;
  transform: translate(-50%, -50%) rotate(0);
}

.none:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.none:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.normal {
  border: 2px solid black;
}

.round {
  border-radius: 7px;
}

.dash {
  border: 2px dashed black;
}

.dash-round {
  border: 2px dashed black;
}

.dots {
  border: 2px dotted black;
}

.dots-round {
  border: 2px dotted black;
}

.qr-frame-none {
  border: none;
}

.qr-frame-normal {
  border: 5px solid black;
}

.qr-frame-normal-round {
  border: 5px solid black;
  border-radius: 20px;
}

.qr-frame-dash {
  border: 5px dashed black;
}

.qr-frame-dash-round {
  border: 5px dashed black;
  border-radius: 20px;
}

.qr-frame-dots {
  border: 5px dotted black;
}

.qr-frame-dots-round {
  border: 5px dotted black;
  border-radius: 20px;
}

.disabled-selector {
  box-shadow: 0 0 0 1px #00000040;
}

.enabled-selector {
  box-shadow: 0 0 0 2px var(--main-color);
}

.qr-placeholder {
  position: relative;
}

.qr-logo {
  max-width: 22%;
  max-height: 22%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  display: none;
}

.qr-logo img {
  width: 100%;
}

.qr-code {
  display: none;
}

.show-logo-container {
  display: none;
}

.show-logo {
  color: var(--main-color);
  border: none;
  background: none;
  font-size: 24px;
  width: 48px;
  align-self: flex-end;
}

.logo-button {
  margin-right: 12px;
}

.logo-info {
  font-size: 16px;
  font-style: oblique;
  margin: 0 12px 0 0;
  color: #000000a0;
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.qr-preview {
  width: 100%;
  margin-bottom: 24px;
}

.qr-preview__frame {
  width: 100%;
  padding: 10%;
  background-color: #ffffff;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 8px solid indigo;
  border-color: var(--secondary-color) transparent var(--secondary-color)
    transparent;
  z-index: 1000;
  animation: loader 1.2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.save-buttons {
  width: 100%;
  text-align: center;
  position: relative;
}

.save-buttons button {
  font-size: 1.1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  margin: 0 6px;
  height: 48px;
  width: 44%;
  border-radius: 10px;
}

@media (max-width: 767px) {
  header {
    height: 100px;
  }

  .settings-container {
    padding: 16px 16px 0 16px;
  }

  .qr-container {
    padding: 16px;
  }
}

@media (min-width: 768px) {
  header {
    height: 250px;
  }

  .settings-container {
    border-bottom: none;
    border-right: 1px solid #00000040;
    padding: 24px;
  }

  .qr-container {
    padding: 24px;
  }
}

@media (min-width: 1101px) {
  .main-container {
    border-radius: 5px;
  }
}
