:root {
  --main-color: #b14444;
  --secondary-color: #810000;
}

.header-container {
  width: 100%;
  display: flex;
  color: white;
  align-items: flex-end;
  padding: 24px;
}

.header-icon {
  color: white;
}

body {
  background: var(--secondary-color);
}

.footer-container {
  width: 100%;
  text-align: center;
  padding: 24px;
}

.footer-container a {
  color: white;
}

.main-container {
  max-width: 1132px;
  margin: 0 auto;
}

.row {
  margin: 0;
  box-shadow: 0 0 24px 0 #00000040;
}

.settings-container {
  padding: 24px;
  border-right: none;
  border-bottom: 1px solid #00000040;
  background-color: #e1e3e6;
}

.qr-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  background-color: #c9cbce;
}

.settings-field {
  height: 32px;
  font-size: 18px;
  padding-top: 1px;
  padding-left: 8px;
  margin-bottom: 12px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.settings-field-icon {
  margin-right: 8px;
}

.show-icon {
  font-size: 22px;
  position: absolute;
  right: 6px;
}

.disabled-field {
  background-color: #d3d3d3;
  color: #00000080;
  border: 1px solid #00000030;
}

.enabled-field {
  background-color: var(--main-color);
  color: white;
  border: 2px solid var(--secondary-color);
}

.disabled-settings {
  display: none;
}

.enabled-settings {
  display: block;
}

.settings-content {
  margin-bottom: 24px;
}

.url-input {
  margin-bottom: 12px;
}

.url-input input {
  width: 100%;
  border: 1px solid #00000040;
  background-color: #f1f4f8;
  outline: none;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-left: 6px;
  font-size: 16px;
}

.file-text {
  font-weight: 500;
}

.url-settings {
  display: block;
}

.frame-settings {
  display: flex;
  flex-wrap: wrap;
}

.logo-settings {
  display: flex;
  flex-wrap: wrap;
}

.selector {
  width: 64px;
  height: 64px;
  margin: 0 12px 12px 0;
  cursor: pointer;
  z-index: 100;
}

.frame-selector-content {
  width: 70%;
  height: 70%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}

.none {
  position: relative;
}

.none:before,
.none:after {
  position: absolute;
  left: 50%;
  top: 50%;
  content: " ";
  height: 56px;
  width: 2px;
  background-color: #999;
  transform: translate(-50%, -50%) rotate(0);
}

.none:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.none:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.normal {
  border: 2px solid black;
}

.round {
  border-radius: 7px;
}

.dash {
  border: 2px dashed black;
}

.dash-round {
  border: 2px dashed black;
}

.dots {
  border: 2px dotted black;
}

.dots-round {
  border: 2px dotted black;
}

.qr-frame-none {
  border: none;
}

.qr-frame-normal {
  border: 10px solid transparent;
}

.qr-frame-normal-round {
  border: 10px solid transparent;
  border-radius: 20px;
}

.qr-frame-dash {
  border: 10px dashed transparent;
}

.qr-frame-dash-round {
  border: 10px dashed transparent;
  border-radius: 20px;
}

.qr-frame-dots {
  border: 10px dotted transparent;
}

.qr-frame-dots-round {
  border: 10px dotted transparent;
  border-radius: 20px;
}

.disabled-selector {
  box-shadow: 0 0 0 1px #00000040;
}

.enabled-selector {
  box-shadow: 0 0 0 3px var(--main-color);
}

.qr-placeholder {
  position: relative;
  width: 100%;
}

.qr-placeholder img {
  max-width: 100%;
}

.placeholder-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-30deg);
  z-index: 900;
  color: #ff0000;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.qr-logo {
  width: 25%;
  height: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  display: none;
  z-index: 1000;
}

.qr-logo img {
  width: 100%;
}

.qr-canvas {
  max-width: 100%;
}

.qr-code img {
  max-width: 100%;
}

.show-logo-container {
  display: none;
}

.show-logo {
  color: var(--main-color);
  border: none;
  background: none;
  font-size: 24px;
  width: 48px;
  align-self: flex-end;
}

.logo-button {
  margin-right: 12px;
}

.logo-info {
  font-size: 16px;
  font-style: oblique;
  margin: 0 12px 0 0;
  color: #000000a0;
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.color-settings {
  display: block;
}

.color-container {
  margin: 0 16px;
  width: 44%;
}

.color-info {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
}

#front-color-sample{
  color: #ffffff;
}

.color-sample {
  width: 100%;
  height: 40px;
  border: 1px solid #808080;
  text-align: center;
  font-size: 20px;
  border-radius: 8px;
  margin-bottom: 16px;
  outline: none;
  cursor: default;
}

.color-value {
  font-size: 24px;
  text-align: center;
  width: 60%;
}

.colorpicker {
  width: fit-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 12px;
  cursor: crosshair;
}

.color-pickers {
  display: flex;
  margin-bottom: 16px;
}

.warning-text {
  color: var(--secondary-color);
  font-style: oblique;
  font-size: 16px;
  font-weight: 400;
}

.qr-preview {
  width: 100%;
  margin-bottom: 24px;
}

.qr-preview__frame {
  width: 100%;
  padding: 10%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-color: #000000;
  background-color: #ffffff;
  z-index: 3000;
}

.loader-container{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  display: none;
}

.loader-background {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 8px solid transparent;
  margin-bottom: 24px;
  border-color: var(--secondary-color) transparent var(--secondary-color)
    transparent;
  animation: loader 1.2s linear infinite;
}

.loader-message {
  color: var(--secondary-color);
  font-size: 2rem;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.save-buttons {
  width: 100%;
  text-align: center;
  position: relative;
}

.save-buttons button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  margin: 0 6px;
  height: 48px;
  width: 44%;
  border-radius: 10px;
}

@media (max-width: 425px) {
  .header-container {
    font-size: 40px;
  }

  .footer-container {
    font-size: 40px;
  }

  .footer-container a {
    margin: 0 8px;
  }

  .header-icon {
    margin-right: 12px;
  }

  .color-info {
    font-size: 14px;
  }
  .color-settings {
    flex-direction: column;
    align-items: center;
  }

  .color-container{
    margin: 0 8px;
  }

  .placeholder-text{
    font-size: 30px;
  }

  .save-buttons button {
    font-size: 15px;
  }
}

@media (min-width: 426px) {
  .header-container {
    font-size: 48px;
  }

  .footer-container {
    font-size: 54px;
  }

  .footer-container a {
    margin: 0 12px;
  }

  .header-icon {
    margin-right: 16px;
  }

  .settings-container {
    padding: 16px;
  }

  .qr-container {
    padding: 16px;
  }

  .placeholder-text{
    font-size: 40px;
  }

  .save-buttons button {
    font-size: 16px;
  }
}

@media (min-width: 580px) {
  .placeholder-text{
    font-size: 60px;
  }

  .save-buttons button {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  header {
    height: 100px;
  }

  .header-container {
    font-size: 60px;
  }

  .footer-container {
    font-size: 60px;
  }

  .footer-container a {
    margin: 0 12px;
  }

  .header-icon {
    margin-right: 24px;
  }

  .settings-container {
    border-bottom: none;
    border-right: 1px solid #00000040;
    padding: 24px;
  }

  .qr-container {
    padding: 24px;
  }

  .placeholder-text{
    font-size: 30px;
  }

  .save-buttons button {
    font-size: 15px;
  }
}

@media (min-width: 1132px) {
  .settings-container {
    border-radius: 5px 0 0 5px;
  }

  .qr-container {
    border-radius: 0 5px 5px 0;
  }
}

@media (min-width: 1180px) {
  .header-container {
    padding-left: 0;
  }
}
